@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Agdasima', Times, serif;
}

body {
    background-image: linear-gradient(black, #5905B3);
}

header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg)
}
h1 {
  color: #fff;
  padding: 67px;
  text-align: center;
  font-size: 3.0rem;
}

.artigo p {
  color: #ffff;
  text-align: center;
  font-size: 1.5rem;
}

.project {
  text-align: center;
  color: #fff;
  font-size: 2.0rem;
}

.card-animado {
  display: flex;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #5905B3;
  background-image: linear-gradient(black, #5905B3);
}

.card {
  border-radius: 16px;
  box-shadow: rgba(231, 9, 183, 0.35) 0px 5px 15px;
  cursor: pointer;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#c01171, #59056e);
  transition: all .5s;
}

.card:hover {
  background-image: linear-gradient(#c01171, #59056e);
}

.card .img {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url('../images/lista-de-tarefas.jpg');
  background-size: cover;
  background-position: center;
  transition: all .5s;
  z-index: 2;
  position: relative;
  opacity: .8;
  color: white;
}

.card .img span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  transition: all .5s;
}

.card:hover .img {
  width: 430px;
  opacity: 1;
}

.card:hover .img span {
  font-size: 28px;
}

.card .content {
  padding: 0px 20px;
  height: 0;
  opacity: 0;
  transition: all .5s;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(30px);
}

.card:hover .content {
  height: 260px;
  padding: 20px;
  opacity: 1;
  transform: translateY(0);
}

.card .content p {
  margin: 0;
}

.card .content .title {
  font-size: 20px;
  font-weight: 600;
}

.card .content .desc {
  font-size: 14px;
  font-weight: 100;
  opacity: .8;
  margin-top: 8px;
}

.card .arrow {
  padding: 15px;
  transform: rotate(-180deg);
  transition: all .5s;
}

.card:hover .arrow {
  transform: rotate(0);
}

.card .arrow span {
  font-size: 24px;
}

.card .img-pokedex {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url('https://images6.alphacoders.com/328/thumb-1920-328013.jpg');
  background-size: cover;
  background-position: center;
  transition: all .5s;
  z-index: 2;
  position: relative;
  opacity: .8;
}

.card .img-pokedex span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  transition: all .5s;
  color: rgb(0, 0, 0);
}

.card .img-homenagem {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url('https://e1.pxfuel.com/desktop-wallpaper/372/1016/desktop-wallpaper-romantic-anime-love-quotes-romance-anime-pc.jpg');
  background-size: cover;
  background-position: center;
  transition: all .5s;
  z-index: 2;
  position: relative;
  opacity: .8;
}

.card .img-homenagem span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  transition: all .5s;
  color: white;
}

/*animação scroll*/

.artigo {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 100px;
}

.project {
  line-height: 32px;
  font-size: 16px;
}
.social-media {
  line-height: 32px;
  font-size: 16px;
}

.redes {
  line-height: 32px;
  
}
.foto-perfil {
    width: 200px;
    top: 20px;
    right: 20px;
}

.social-media {
  color: white;
  align-items: center;
}

.social-media h1 {
  text-align: center;
}
.redes a img {
  width: 58px;
  padding: 3.8%;
  margin: 11px;
  position: relative;
  left: 30%;
}

footer {
  text-align: center;
  color: #fff;
  background-color: #24252a;
  box-shadow:  0px 3px 10px #030303;
  padding: 10px;
}