@font-face {
  font-family: 'roboto';
  src: url("images/fonts/Roboto-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Agdasima', Times, serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(black, #5905B3);
}


/*menu resposivo*/
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  z-index: 1;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}

.nav-list {
  position: relative;
  z-index: 2;
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  display: none;
  cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 768px) {

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        overflow-x: hidden;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg)
}
/*titúlo animado*/
h1 {
  color: #fff;
  padding: 67px;
  text-align: center;
  font-size: 3.0rem;
  font-family: 'Agdasima' 'Times New Roman', Times, serif;
}

.animated {
  padding: 200px;
  color: #fff;
  text-align: center;
  font-size: 4.0rem;
}

@media (max-width: 768px) {
  .animated {
    padding: 100px;
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .animated {
    padding: 50px;
    font-size: 1.5rem;
  }
}
/*paragrafo*/
.artigo p {
  color: #ffff;
  text-align: center;
  font-size: 1.5rem;
  padding: 90px;
}

@media (max-width: 768px) {
  .artigo p {
    padding: 0;
  }
}

.artigo .foto-perfil {
  width: 200px;
  position: relative;
  left: 42%;
  border: 1px solid #ffffff;
  border-radius: 50%;
  height: auto;
  max-width: 100%;
}

@media (max-width: 768px) {
  .artigo .foto-perfil {
    position: relative;
    left: 23%;
    bottom: 24px;
  }
}
/*projetos*/
.project {
  text-align: center;
  color: #fff;
  font-size: 2.0rem;
}
/*cards dos projetos*/
.card-animado {
  display: flex;
  margin: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #5905B3;
  background-image: linear-gradient(black, #5905B3);
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
}

.card {
  border-radius: 16px;
  box-shadow: rgba(231, 9, 183, 0.35) 0px 5px 15px;
  cursor: pointer;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#c01171, #59056e);
  transition: all .5s;
}

.card:hover {
  background-image: linear-gradient(#c01171, #59056e);
}

.card .img {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url('../images/lista-de-tarefas.jpg');
  background-size: cover;
  background-position: center;
  transition: all .5s;
  z-index: 2;
  position: relative;
  opacity: .8;
  color: white;
}

.card .img span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  transition: all .5s;
}

.card:hover .img {
  width: 430px;
  opacity: 1;
}

.card:hover .img span {
  font-size: 28px;
  color:#000;
}

.card .content {
  padding: 0px 20px;
  height: 0;
  opacity: 0;
  transition: all .5s;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(30px);
}

.card:hover .content {
  height: 260px;
  padding: 20px;
  opacity: 1;
  transform: translateY(0);
}

.card .content p {
  margin: 0;
  color: #ffff;
}

.card .content .title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.card .content .desc {
  font-size: 1.9rem;
  font-weight: 100;
  opacity: .8;
  margin-top: 8px;
}

.card .arrow {
  padding: 15px;
  transform: rotate(-180deg);
  transition: all .5s;
}

.card:hover .arrow {
  transform: rotate(0);
}

.card .arrow span {
  font-size: 24px;
}

.card .img-pokedex {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url('https://images6.alphacoders.com/328/thumb-1920-328013.jpg');
  background-size: cover;
  background-position: center;
  transition: all .5s;
  z-index: 2;
  position: relative;
  opacity: .8;
}
.card:hover .img-pokedex {
  width: 430px;
  opacity: 1;
}

.card:hover .img-pokedex span {
  font-size: 28px;
  color:#000;
}

.card .content {
  padding: 0px 20px;
  height: 0;
  opacity: 0;
  transition: all .5s;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(30px);
}

.card:hover .content {
  height: 260px;
  padding: 20px;
  opacity: 1;
  transform: translateY(0);
}

.card .content p {
  margin: 0;
  color: #ffff;
}

.card .content .title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.card .content .desc {
  font-size: 14px;
  font-weight: 100;
  opacity: .8;
  margin-top: 8px;
}

.card .arrow {
  padding: 15px;
  transform: rotate(-180deg);
  transition: all .5s;
}

.card:hover .arrow {
  transform: rotate(0);
}

.card .arrow span {
  font-size: 24px;
}

.card .img-pokedex span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  transition: all .5s;
  color: #fff;
}

.card .img-homenagem {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url('https://e1.pxfuel.com/desktop-wallpaper/372/1016/desktop-wallpaper-romantic-anime-love-quotes-romance-anime-pc.jpg');
  background-size: cover;
  background-position: center;
  transition: all .5s;
  z-index: 2;
  position: relative;
  opacity: .8;
}

.card .img-homenagem span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  transition: all .5s;
  color: white;
}

.card:hover .img-homenagem {
  width: 430px;
  opacity: 1;
}

.card:hover .img-homenagem span {
  font-size: 28px;
  color:#000;
}

.card .content {
  padding: 0px 20px;
  height: 0;
  opacity: 0;
  transition: all .5s;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(30px);
}

.card:hover .content {
  height: 260px;
  padding: 20px;
  opacity: 1;
  transform: translateY(0);
}

.card .content p {
  margin: 0;
  color: #ffff;
}

.card .content .title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.card .content .desc {
  font-size: 14px;
  font-weight: 100;
  opacity: .8;
  margin-top: 8px;
}

.card .arrow {
  padding: 15px;
  transform: rotate(-180deg);
  transition: all .5s;
}

.card:hover .arrow {
  transform: rotate(0);
}

.card .arrow span {
  font-size: 24px;
}

.card .img-homenagem span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  transition: all .5s;
  color: #fff;
}

@media (max-width: 768px) {
  .card-animado {
    display: inline-block;
    overflow: hidden; 
  }
}
/*CARDS RESPONSIVOS REDES SOCIAIS*/
.container-rede {
  width: 100%;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container-rede .card-social {
  position: relative;
  padding: 10px;
  width: 300px;
  background-color: #fff;
  margin: 20px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
}

.container-rede .card-social img {
  transition: 0.5s;
}

.container-rede .card-social h1 {
  font-size: 2rem;
}

.container-rede .card-social .content {
  padding: 20px;
  text-align: center;
}

.container-rede .card-social .content p {
  color: #666;
  transition: 0.5s;
}

.container-rede .card-social .content a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  transition: 0.5s;
  outline: none;
  margin-top: 20px;
}

.container-rede .card-social:hover {
  background: linear-gradient(#9213ac, rgb(57, 0, 122)) ;
  color: white;
  margin-top: -30px;
  box-shadow: 2px 20px 25px #7113ddd7;
  border-color: #7b0cbb;
}

.container-rede .card-social:hover img {
  filter: invert(1);
}

.container-rede .card-social:hover .content p {
  color: white;
}

.container-rede .card-social:hover .content a{
  color:black;
  background-color: white;
}

@media (max-width: 720px) {
  .container-rede {
    flex-direction: column;
    margin: 0;
  }
}
/*foooter do site*/
footer {
  text-align: center;
  color: #fff;
  background-color: #24252a;
  box-shadow:  0px 3px 10px #030303;
  padding: 10px;
}